{{!< default}}

<h1>This is template for individual post.</h1>
<p>Please refer to http://themes.ghost.org/docs/post-context</p>

{{#post}}
    <h1>{{title}}</h1>
    <section>{{content}}</section>
{{/post}}